spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/EMS
    username: postgres_ayushi
    password: root
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: "*"